{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/strict"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "eqeqeq": "error",
    "prefer-destructuring": "error",
    "import/first": "error",
    "no-undef": "error",
    "react/jsx-no-undef": "warn",
    "no-unused-vars": "error",
    "prefer-const": "error",
    "no-var": "error",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "global-require": "off",
    "prefer-spread": "off",
    "no-alert": "off",
    "react/react-in-jsx-scope": "off",
    "consistent-return": "off",
    "no-console": "off",
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/jsx-no-target-blank": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "import", "react-hooks"]
}
